
/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    background-color: #ff6900;
}

.dub{
    margin-left: 85px;
    width: 180px;
    display: flex;
    align-items: center;
    font-family: sans-serif; 
    color: white;
    justify-content: space-between;
}

.father{

    width: 900px;
    padding-top: 50px;
    padding-bottom: 70px;
    margin: 0 auto;
 
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.col{
    
    width: calc(100%/3);
    height: 500px;
    border-style: groove;
}

.footer{
    background-color: black;
    margin left: 85px;
    height: 70px;
    padding-top: 15px;
    display: flex;
    color: aliceblue;
   
}

