
/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.contenitore{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    background-color: #ff6900;
}

.dub{
    margin-left: 85px;
    width: 180px;
    display: flex;
    align-items: center;
    font-family: sans-serif; 
    color: white;
    justify-content: center;
}

.logo{
    /* background-color: #008000; */
    width: 300px;
    height: 40px;
}



/* main */
.father{

    width: 900px;
    padding-top: 50px;
    padding-bottom: 70px;
    margin: 0 auto;
 
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.col{
    
    width: calc(100%/3);
    height: 500px;
    border-style: groove;
}

.footer{
    background-color: black;
    height: 100px;
    padding-top: 15px;
    display: flex;
    color: aliceblue;
}

.list{
    display: flex;
}

.top-card{

}
 .top-card img{
    height: 100%;
    width: 100%;
 }
.red{
    background-color: #ff0000;
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-family:sans-serif;
}

.sost{
    background-color: #008000;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-family:sans-serif;
    
}

.botton{
    display: flex;
}



